@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

body {
  background-color: #d9d9d9;
}

.container-post {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  width: 16rem;
  height: auto;
  padding: 13.5px;
  border-radius: 10px;
  margin: 10px 10px;
  background-color: rgba(184, 235, 235, 0.836);
}

.card .hastag {
  font-weight: bolder;
  font-size: large;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card .profile-name {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.card .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.date-upload {
  font-size: smaller;
  text-align: end;
}
