@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

body {
  background-color: #d9d9d9;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.75);
  width: 16rem;
  height: auto;
  padding: 13.5px;
  border-radius: 10px;
  margin: 10px 10px;
  background-color: rgba(184, 235, 235, 0.836);
}

.card .hastag {
  font-weight: bolder;
  font-size: large;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px;
}

p {
  margin: 10px;
}

.card .profile-name {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.card .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.date-upload {
  font-size: smaller;
  text-align: end;
}

.container-user-list {
  position: absolute;
  right: 0;
  width: 78vw;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 50px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f5f5f5;
	font-family: "Baloo Paaji 2", cursive;
}

.card-user {
	background-color: #222831;
	height: 37rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.7);
}

.card__name {
  margin-top: 15px;
	font-size: 1.5em;
  color: white;
}

.card__image {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	border: 5px solid #272133;
	margin-top: 20px;
	box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #33293e;
}

.container-post {
  width: 78vw;
  position: absolute;
  padding-left: 17px;
  right: 0;
}

.layout  {
	display: flex;
	min-height: 100vh;
	width: 100%;
}

.sidebar {
  min-width: 22vw;
  background-color: #697de7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.heading {
	padding: 12px;
}

.nav-list  {
	width: 100%;
	padding: 12px 0;
	font-size: 28px;
}

.nav-list h3  {
	margin-top: 6px;
	padding-left: 12px;
}

.active {
	background-color: #9acce9;
}

.nav-list ul li  {
	list-style: none;
	font-weight: 600;
}

.nav-list ul li a  {
	display: block;
	width: 100%;
	padding: 6px 24px;
	text-decoration: none;
}

.nav-list ul li a:hover {
	background-color: #9acce9;
}
