.todolist-container {
	background-color: white;
	margin-top: 2rem;
	border-radius: 0.25rem;
	padding: 1rem;
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.todos-container {
	overflow: auto;
	height: 90%;
}

.todo-item {
	border-bottom: 0.05rem solid rgba(0, 0, 0, 0.082);
	padding: 1rem 0;
	cursor: pointer;
}

.todo-item-active {
	text-decoration: line-through;
	color: grey;
}

.todo-fragment {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-btn {
	border: none;
	padding: 0.3rem 1.5rem;
	border-radius: 0.2rem;
	background-color: rgb(201, 70, 53);
	color: white;
	font-weight: 900;
	cursor: pointer;
	height: 28px;
}
