body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 180px;
	margin: auto;
	opacity: 30%;
}

.higlighted {
	border: solid #000 5px;
	opacity: 100%;
}
